<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/_header"></th:block>
    <meta charset="UTF-8">
    <title th:text="#{label.changePassword.title}"></title>
</head>
<body>
<th:block th:include="/_menu"></th:block>
<div class="container main">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div class="wrap">
                <div class="container clear-top">
                    <div id="errormsg" class="alert alert-danger" style="display:none"></div>
                    <h1 th:text="#{label.changePassword.title}">change password </h1>
                    <form th:action="@{/user/changePassword}" th:object="${user}" th:method="post" th:class="form">
                        <div class="form-group">
                            <label class="registerLabel"><b th:text="#{label.user.oldPassword}"></b></label>
                            <input type="password" th:field="*{staraLozinka}" class="form-control"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('staraLozinka')}">
                                <p th:each="error : ${#fields.errors('staraLozinka')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="registerLabel"><b th:text="#{label.user.password}"></b></label>
                            <input type="password" th:field="*{lozinka}" class="form-control"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('lozinka')}">
                                <p th:each="error : ${#fields.errors('lozinka')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="registerLabel"><b th:text="#{label.user.confirmPass}"></b></label>
                            <input type="password" th:field="*{ponovljenaLozinka}" class="form-control"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('ponovljenaLozinka')}">
                                <p th:each="error : ${#fields.errors('ponovljenaLozinka')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-md loginSignIn"
                                    th:text="#{label.changePassword.title}">
                                submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="/_footer"></th:block>
</body>

</html>