<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/_header"></th:block>
    <meta charset="UTF-8">
    <title th:text="#{message.resetPassword}">reset</title>
</head>
<body>
<th:block th:include="/_menu"></th:block>
<div class="container main">
    <h1 th:text="#{message.resetPassword}">reset</h1><br/>
    <div class="row">
        <form th:action="@{/resetPassword}" th:class="form" method="post">
            <div class="form-group">
                <label class="registerLabel"><b th:text="#{label.user.email}"></b></label>
                <input id="email" name="email" type="email" value="" required="required" class="form-control"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" th:text="#{label.send.mail}">reset</button>
            </div>

        </form>
    </div>

</div>
<th:block th:include="/_footer"></th:block>

</body>

</html>